body{
    background-color: grey;

}
/*.square{
    height: 50px;
    width: 50px;
  
  }*/
  .main-title{
    color: rgb(128, 8, 8);
    
    font-size: 20px;
  }
  table {
    
  width: 100%;
  border: 1px solid #ddd;
  
  
    
  }
  
   td {
    text-align: left;
    padding: 15px;
    color: rgb(128, 8, 8);
  }
  th{
    text-align: left;
    padding: 15px;
    color: rgb(123, 5, 5);
  }
  /***/
  .container {
    
    
  }
  
