body{
  
    background-color: grey;

}
/*.square{
    height: 50px;
    width: 50px;
  
  }*/
  .main-title{
    color: rgb(128, 8, 8);
    
    font-size: 25px;
  }
  table {
    background-color: rgb(232, 219, 219);
  margin-left: 25%;
  margin-right: 25%;
    
  
  border: 1px solid #ddd;
 
  }
  h1{
    background-color: rgb(232, 219, 219);
    text-align: center;
    color: rgb(128, 8, 8);
    
    
  }
  
   td {
    text-align: left;
    color: rgb(123, 5, 5);
    
  }
  th{
   
    text-align: left;
    padding: 10px;
    color: rgb(123, 5, 5);
  }
  /***/
  .container {
    
    
  }
  
